form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

label, input {
    margin-bottom: 10px;
}

input:focus {
    border: 1px solid cornflowerblue;
}

#popup, #popup1 {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid red;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 16px;
    opacity: 80%;
    transition: 5s;
    left: 50%;
}


.btn-login-l {
    margin: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-login-d {
    margin: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.colinha {
    border-radius: 0px 0px 4px 4px;
}

select:hover {
    cursor: pointer;
}

.fundo {
    background-color: rgb(240, 248, 255);
}

.form-check, .form-check-input, .form-check-label {
    cursor: pointer;
}

.principal {
    height: 100vh;
}